.segmenter {
	width: auto;
	height: 100vh;/* viewport height*/
	position: relative;
	overflow: hidden;
	background-size: cover;	
}

.segmenter__image {
	width: 100%;
	display: block;
}


.segmenter__background,
.segmenter__pieces,
.segmenter__piece-wrap,
.segmenter__piece-parallax,
.segmenter__piece {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.segmenter__piece-parallax {
	-webkit-transition: -webkit-transform 0.2s ease-out;
	transition: transform 0.2s ease-out;
}

.segmenter__pieces {
	-webkit-perspective: 400px;
	perspective: 400px;
}

.segmenter__background,
.segmenter__piece {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.segmenter__shadow {
	position: absolute;
	opacity: 0;
	box-shadow: 0px 2px 15px rgba(0,0,0,0.7);
}


.demo-5 .segmenter__shadow {
	box-shadow: 0px 18px 29px rgba(4, 19, 22, 0.65);
}

/*===================================================*/
*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Buttons */

.btn {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	pointer-events: auto;
	color: #333;
	border: 0;
	border-radius: 1.85em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.885em;
	padding: 1em 2em;
	margin: 0 auto;
	background: rgba(251, 224, 148, 0.8);
	-webkit-transition: background 0.3s, opacity 0.3s;
	transition: background 0.3s, opacity 0.3s;
}

.btn:focus {
	outline: none;
}

.btn:hover {
	background: rgba(251, 224, 148, 1);
}

.btn--trigger {
	width: 15em;
	position: absolute;
	bottom: 2em;
	left: 50%;
	margin: 0 0 0 -7.5em;
}

.btn--hidden {
	opacity: 0;
	pointer-events: none;
}

/* Demo colors */
.demo-5 h1{
	font-family: 'Open Sans', sans-serif;
	font-size:50px;
	font-weight:400;
	letter-spacing: -1px;
	margin:0 0 22px 0 ;
	color:#fff;
}

.demo-5 h3{
	font-family: 'Opens Sans',sans-serif;
	font-size:20px;
	font-weight:400;
	letter-spacing: -1px;
	margin:0 0 22px 0 ;
	color:#fff;
}
.demo-5 a { color: #8a74a0; outline: none; text-decoration: none;}
.demo-5 .btn { background: rgba(138, 116, 160, 0.7); color: #fff; }
.demo-5 .btn:hover { background: rgba(138, 116, 160,1); }
.demo-5 .trigger-headline { color: #E61572;}


a:hover,
a:focus {
	color: #fff;
}

.trigger-headline {
	top: 0;
	left: 0;
	position: absolute;
	font-size: 6vw;
	text-transform: uppercase;
	pointer-events: none;
	line-height: 1;
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.trigger-headline span {
	display: inline-block;
	position: relative;
	padding: 0 5vw;
	-webkit-transition: opacity 2s, -webkit-transform 2s;
	transition: opacity 2s, transform 2s;
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	-webkit-transition-delay: 0.7s;
	transition-delay: 0.7s;
}

.js .trigger-headline--hidden span {
	pointer-events: none;
	opacity: 0;
}

.js .trigger-headline--hidden span:nth-child(1) {
	-webkit-transform: translate3d(-100px,0,0);
	transform: translate3d(-100px,0,0);
}

.js .trigger-headline--hidden span:nth-child(2) {
	-webkit-transform: translate3d(-50px,0,0);
	transform: translate3d(-50px,0,0);
}

.js .trigger-headline--hidden span:nth-child(3) {
	-webkit-transform: translate3d(-25px,0,0);
	transform: translate3d(-25px,0,0);
}

.js .trigger-headline--hidden span:nth-child(4) {
	-webkit-transform: translate3d(25px,0,0);
	transform: translate3d(25px,0,0);
}

.js .trigger-headline--hidden span:nth-child(5) {
	-webkit-transform: translate3d(50px,0,0);
	transform: translate3d(50px,0,0);
}

.js .trigger-headline--hidden span:nth-child(6) {
	-webkit-transform: translate3d(100px,0,0);
	transform: translate3d(100px,0,0);
}


.demo-5 .trigger-headline span {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
