. {
	column-count: 7;
	column-gap: 20px;
 	-moz-column-gap: 20px;
 	-webkit-column-gap: 20px;
	max-height: 500px;
	max-width: 980px;
	margin: 0 auto;
	margin-top: 0%;
	overflow-y: scroll;
}

.image-holder {
    height: 100px;
    width: 100px;
    cursor: pointer;
    display: inline-block;
	border: 2px solid #ff2100;
	margin: 20px;
}

.head-image {
    background-image: url(../images/photos/tedxistalameda_team-min.jpg);
    display: none;
	margin-left:0px;
}

.image-holder .head-image {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.image-holder .head-image {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

.image-holder.selected .head-image,
.image-holder:hover .head-image {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%)
}


.head-team {
    margin-bottom: 0px;
    overflow-y: scroll;
    text-align: center;
}

.head-image.click,
.head-image.down,
.head-image.downleft,
.head-image.downright,
.head-image.front,
.head-image.left,
.head-image.right,
.head-image.up,
.head-image.upleft,
.head-image.upright {
    display: block;
}

.description-text {
	position: fixed;
	height: 140px!important;
	width: 100%;
	left: 0; right: 0;
	margin: 0px auto;
	padding-top: 10px;
    bottom: 0;
	background-color: rgba(255,255,255,0.9);
	z-index: 10000;
	opacity: 0;
	transition: opacity .5s ease-in-out;
}

.description-text .name {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 5px;
}

.description-text .desc {
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.description-text .socialmedia {
	width: 100%;
	height: 30px;
}

.description-text .socialmedia > a .mail_svg{
	height: 22px!important;
	width: 22px!important;
	margin-right: 15px;
	margin-left: 0px;
	fill: #000;
}

.description-text .socialmedia > a .mail_svg:hover{
	fill: #ff2100;
}

.description-text .socialmedia > a .in_svg{
	height: 22px!important;
	width: 22px!important;
	margin-right: 15px;
}

.description-text .socialmedia > a .fb_svg{
	height: 22px!important;
	width: 22px!important;
	margin-left: 5px;
	margin-right: 0px;
}

.close {
	position: absolute;
	top: 10px;
	right: 10px;
	opacity: 0;
}

.close x-svg {
	height: 15px;
	width: 15x;
}

.tooltip-inner { 
	background-color:#ff2100;
	border-radius: initial;
}
[data-placement="top"] + .tooltip > .tooltip-arrow { border-top-color: #ff2100;}
[data-placement="right"] + .tooltip > .tooltip-arrow { border-right-color: #ff2100;}
[data-placement="bottom"] + .tooltip > .tooltip-arrow {border-bottom-color: #ff2100;}
[data-placement="left"] + .tooltip > .tooltip-arrow {border-left-color: #ff2100; }

/* Resizing the grid ---------------------- */
@media all and (min-height: 900px) {
	.new_section {
		margin-top: 1%;
	}
	.row_second {
		margin-top: 3%!important;
	}
	.description-text {
		height: 200px!important;
	}
	.description-text .name {
		margin-top: 20px;
		margin-bottom: 15px;
	}
	.description-text .desc {
		margin-top: 10px;
		margin-bottom: 20px;
	}
}

/* Ipad pro + desktops */ 
@media all and (min-width: 1090px){
	.row_second {
		column-count: 7;
		column-gap: 20px;
 		-moz-column-gap: 20px;
 		-webkit-column-gap: 20px;
		height: 580px;
		width: 980px;
		margin: 0 auto;
	}
	.image-holder {
		margin: 10px;
	}
}
@media all and (max-width: 1090px){
	.row_second{
		column-count: 7;
		column-gap: 5px;
 		-moz-column-gap: 5px;
 		-webkit-column-gap: 5px;
		height: 580px;
		width: 820px;
		margin: 0 auto;
	}
	.image-holder {
		margin: 12px 5px 5px 5px;
	}
	.description-text {
		height: 140px!important;
		padding-top: 10px;
	}
}
@media all and (max-width: 910px) {
	.image-holder {
		height: 84px;
		width: 84px;
		margin: 12px 2px 2px 2px;
	}
	.row_second{
		column-count: 7;
		column-gap: 2px;
 		-moz-column-gap: 2px;
 		-webkit-column-gap: 2px;
		height: 580px;
		width: 680px;
		margin: 0 auto;
	}
	.close {
		opacity: 0;
	}
}

/* Ipad / Tablets */ 
@media all and (max-width: 785px) {
	.description-text {
		height: 170px!important;
		padding-top: 0px;
	}
	.close {
		opacity: 1;
	}
}
@media all and (max-width: 750px) {
	.row_second{
		column-count: 4;
		column-gap: 3px;
 		-moz-column-gap: 3px;
 		-webkit-column-gap: 3px;
		height: 1000px;
		width: 400px;
		margin: 0 auto;
	}	
	.description-text {
		height: 120px!important;
		padding-top: 10px;
	}
	.close {
		opacity: 1;
	}
}
/* All phones */ 
@media all and (max-width: 470px) {
	.row_second{
		column-count: 3;
		column-gap: 3px;
 		-moz-column-gap: 3px;
 		-webkit-column-gap: 3px;
		height: 1200px;
		width: 320px;
		overflow: visible;
	}	
	.description-text {
		height: 120px!important;
		padding-top: 7px;
	}
	.close {
		opacity: 1;
	}
} 
@media all and (max-width: 370px) {
	.row_second{
		column-count: 2;
		column-gap: 3px;
 		-moz-column-gap: 3px;
 		-webkit-column-gap: 3px;
		height: 2000px;
		width: 200px;
		overflow: visible;
	}	
	.description-text {
		height: 120px!important;
		padding-top: 7px;
	}
	.close {
		opacity: 1;
	}
} 
/* ---------------------------------------- */

.burguer-container {
    height: 0;
    width: 4%;
    padding-top: 4%;
    position: relative;
    float: right;
    
}

.overlay {
    top: 10vh;
    overflow: hidden;
}

.about-frame {
     #liaddshapes::-webkit-scrollbar {
        width: 0 !important;
    }
}
.text-container {
    position: absolute;
    width: 40vw;
    height: 60vh;
    overflow-y: scroll;
    overflow-x:hidden;
}
.text-container.left{
    margin-left: 5vw;
}
.text-container.rigth{
    margin-right: 5vw;
    right: 0;
}
.text-container p{
    color: black;
    left: 0;
}