/* NOTA: Recomendo que não alteres as características do "header", uma vez que pode breakar o website
   O mesmo se aplica à classe "container", que é utilizada no website para algo diferente - mas entretanto devo mudar o nome */
/*
header {
    padding-top: 0;
    text-align: center;
    color: #333;
}

header .container {
    padding-top: 0 px;
    /*padding-bottom: 20px
}

header img {
    display: block;
    margin: 0 auto 20px
}

header .intro-text .name {
    display: block;
    font-family: 'Domine', serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300
}

@media(min-width:768px) {
    header .container {
        padding-bottom: 20px
    }
    header .intro-text .name {
        font-size: 4.30em;
        text-align: left
    }
    header .intro-text .skills {
        font-size: 1.75em
    }
}

@media(min-width:1020px) {
    header .container {
        padding-bottom: 20px;
        width: 750px;
            
    }
    header .intro-text .name {
        font-size: 4.30em;
        text-align: left
    }
    header .intro-text .skills {
        font-size: 1.75em
    }
}*/


.row {
	margin-left: 25vw;
	margin-right: 25vw;
}

.image-holder {
    height: 100px;
    width: 100px;
    cursor: pointer;
    display: inline-block;
    margin: 0.4vw;
	border: 2px solid #ff2100;

}

.head-image {
    background-image: url(../images/photos/JE_team_2.jpg);
    display: none;
}

.image-holder .head-image {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.image-holder .head-image {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

.image-holder.selected .head-image,
.image-holder:hover .head-image {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%)
}

.head-container {
    padding: 20px 50px;
}

.head-team {
    margin-bottom: 20px;
    overflow: hidden;
    text-align: center;
}

/* tooltip -> Aquela cena de aparecer o nome */
.tooltip.top .tooltip-inner {
    background-color: #f9423a;
    border-radius: initial
}

.tooltip.top .tooltip-arrow {
    border-top-color: #f9423a
}
/* ----------------------------------------- */

.head-image.click,
.head-image.down,
.head-image.downleft,
.head-image.downright,
.head-image.front,
.head-image.left,
.head-image.right,
.head-image.up,
.head-image.upleft,
.head-image.upright {
    display: block;
}

.head-info .close {
    font-size: 2em;
    margin: 10px;
    text-shadow: none;
}

/* Resizing the grid ---------------------- */
@media all and (max-width: 1570px) {
	.row {
		margin-left: 10vw;
		margin-right: 10vw;
	}
}

@media all and (max-width: 1400px) {
    
}

@media all and (max-width: 1280px) {
	.row {
		margin-left: 15vw;
		margin-right: 15vw;
	}
    .image-holder {
		height: 90px;
		width: 90px;
    }
}


/* Ipad pro + desktops */ 
@media all and (max-width: 1024px){ /*SET*/
	.row {
		margin-left: 15vw;
		margin-right: 15vw;
	}
    .image-holder {
		height: 75px;
		width: 75px;
    }
}


@media all and (max-width: 960px) {
	.row {
		margin-left: 20vw;
		margin-right: 20vw;
	}
    .image-holder {
		height: 75px;
		width: 75px;
    }
	.head-image {
		transform: scale(90/100);
	}
}

@media all and (max-width: 850px) {
    .image-holder {
	
    }
}

/* Ipad / Tablets */ 
@media all and (max-width: 785px) {
	.row {
		margin-left: 13%;
		margin-right: 13%;
	}
    .image-holder {
		height: 90px;
		width: 90px;

    }
	.head-image {
		transform: scale(100/90);
	}
}
/* All phones */ 
@media all and (max-width: 450px) {
	.row {
		margin-left: 10%;
		margin-right: 10%;
	}
} 
/* ---------------------------------------- */

.burguer-container {
    height: 0;
    width: 4%;
    padding-top: 4%;
    position: relative;
    float: right;
    
}

.overlay {
    top: 10vh;
    overflow: hidden;
}

.about-frame {
     #liaddshapes::-webkit-scrollbar {
        width: 0 !important;
    }
}
.text-container {
    position: absolute;
    width: 40vw;
    height: 60vh;
    overflow-y: scroll;
    overflow-x:hidden;
}
.text-container.left{
    margin-left: 5vw;
}
.text-container.rigth{
    margin-right: 5vw;
    right: 0;
}
.text-container p{
    color: black;
    left: 0;
}
