.row_second {
	width: 860px;
	height: 550px;
	margin: 0 auto;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	transform: translateX(0);
	overflow: hidden;
	padding-top: 1%;
}

.head-team {
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	align-content: center;
	-webkit-align-content: center;
	justify-content: flex-start;
	-webkit-justify-content: flex-start;
	margin: 0 10px;
}

.image-holder {
    height: 100px;
    width: 100px;
	margin: 10px;
    cursor: pointer;
	border: 2px solid #ff2100;
}

.head-image {
	width: 100%;
    height: 100%;
    border-radius: 0;
	margin: 0;
    background-image: url(../images/photos/tedxistalameda_team-min.jpg);
    display: none;
	-o-filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
    filter: grayscale(100%);
	-webkit-transform: translateX(0);
	-webkit-backface-visibility: hidden;
}

.image-holder:hover .head-image {
	-o-filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
    filter: grayscale(0%);
}

.head-image.click,
.head-image.down,
.head-image.downleft,
.head-image.downright,
.head-image.front,
.head-image.left,
.head-image.right,
.head-image.up,
.head-image.upleft,
.head-image.upright {
    display: block;
}

.description-text {
	position: fixed;
	height: 130px!important;
	width: 100%;
	left: 0; right: 0;
	margin: 0px auto;
	padding-top: 10px;
    bottom: 0;
	background-color: transparent;
	visibility: hidden;
	opacity: 0;
	transition: opacity .5s ease-in-out;
}

.description-text .name {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 5px;
}

.description-text .desc {
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.description-text .socialmedia {
	width: 100%;
	height: 30px;
}

.close {
	position: absolute;
	top: 10px;
	right: 10px;
	opacity: 0;
}

.close x-svg {
	height: 15px;
	width: 15x;
}

.tooltip-inner { 
	background-color:#ff2100;
	border-radius: initial;
	max-width: none;
	white-space: nowrap;
}
[data-placement="top"] + .tooltip > .tooltip-arrow { border-top-color: #ff2100;}
[data-placement="right"] + .tooltip > .tooltip-arrow { border-right-color: #ff2100;}
[data-placement="bottom"] + .tooltip > .tooltip-arrow {border-bottom-color: #ff2100;}
[data-placement="left"] + .tooltip > .tooltip-arrow {border-left-color: #ff2100; }

/* Resizing the grid ---------------------- */
@media all and (min-height: 900px) {
	.description-text {
		height: 200px!important;
	}
	.description-text .name {
		margin-top: 0px;
		margin-bottom: 15px;
	}
	.description-text .desc {
		margin-top: 10px;
		margin-bottom: 15px;
	}
}
@media all and (min-height: 800px) {
	body input ~ div .new_section {
		margin-top: 20px;
	}
	.row_second {
		margin-top: -18px;
	}
	body input ~ div .textbox {
		margin-top: 4.5vh!important;
	}	
	body input ~div .textbox:nth-child(2) {
		margin-top: 5vh;
	}
	.row_second {
		padding-top: 3%;
	}
}

/* Ipad pro + desktops */ 
@media all and (max-width: 1090px){
	.row_second{
		width: 860px;
		height: 550px;
	}
	.description-text {
		height: 140px!important;
		padding-top: 10px;
	}
}
@media all and (max-width: 910px) {
	.image-holder {
		height: 84px;
		width: 84px;
		margin: 10px 5px;
	}
	.row_second{
		width: 678px;
		height: 480px;
	}
}

/* Ipad / Tablets */ 
@media all and (max-width: 785px) {
	.row_second{
		width: 584px;
		height: 590px;
	}
	.description-text {
		background-color: rgba(255,255,255,0.88);
		height: 170px!important;
		padding-top: 0px;
	}
	.close {
		opacity: 1;
	}
}
/* All phones */ 
@media all and (max-width: 470px) {
	.row_second{
		width: 312px;
		height: 990px;
		padding-left: 3%;
		margin-bottom: 180px!important;
	}	
	.head-team {
		margin: 0 5px;
	}
	.description-text {
		height: 110px!important;
		padding-top: 7px;
	}
	.description-text .name {
		font-size: 20px;
	}
	.description-text .desc {
	font-size: 14px;
	}
	.close {
		opacity: 1;
	}
} 
@media all and (max-width: 370px) {
	.row_second{
		margin-bottom: 100px;
	}	
}
/* ---------------------------------------- */
.flex_container {
    width: 90vw;
    height: auto;
    
    padding: 0;
    margin: 0 5vw 0 5vw;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
    -webkit-flex-flow: row wrap;
    justify-content: center;
}

.flex_child {
    margin: auto;
    background-color: none;
    width: 300px;
    height: 300px;
}

.flex_child img{
    width: 100%; 
    border-bottom: 5px solid #ff2100;
    
}

.flex_title {
    margin: auto;
    background-color: none;
    width: 300px;
    height: 30px;
    border-bottom: 2px solid #292929/*#e0e0e0*/;
    margin-bottom: 10px;
}
    
.flex_title h2{
    font-size: 24px;
    font-weight: 500;
    font: Roboto;
    color: #292929;
}
