.speaker_overlay {
    height: 0%;

    width: 60%;
    position: fixed;
    z-index: 2500;
    top: 25%;
    left: 20%;
    background-color: rgba(255, 255, 255, 0.97);
    overflow-y: hidden;
    transition: 0.3s;
}

.speaker_overlay-content {
    width: 100%;
    text-align: center;
}

.speaker_overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.speaker_overlay a:hover, .speaker_overlay a:focus {
    color: #f1f1f1;
}

.speaker_overlay .text-box{
    width: 80%;
    height: auto;
    padding: 2% 0 2% 0;
    margin-left: 10%;
    display: none;
}

.speaker_overlay p{
	font-size: 15px;
	font-weight: 200;
	margin: 10px 0;
	color: #292929;
	line-height: 25px;
	text-align: justify;
    text-justify: distribute;
}

.speaker_overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .speaker_overlay {overflow-y: auto;}
  .speaker_overlay a {font-size: 20px}
  .speaker_overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@keyframes blur{
	0% {
		filter: blur(0px);
	}
	100% {
		filter: blur(6px);
	}
}

.blurry{
     animation: blur 1 0.4s ease-out forwards;
     -webkit-animation: blur 1 0.4s ease-out forwards;
     -moz-animation: blur 1 0.4s ease-out forwards;
     -o-animation: blur 1 0.4s ease-out forwards;
     -ms-animation: blur 1 0.4s ease-out forwards;   
}

.blurry_title{
  filter: blur(3px);
}

.speaker_overlay .overlay-title{
    margin-left: 10%; 
    left: 10%;
    height: 20%;
    width: 80%;
    border-bottom: solid 1px red;
}

.speaker_overlay .overlay-title h2{
    padding: 5% 0 2% 0;
    font-size: 24px;
    font-weight: 500;
    font: Roboto;
    color: #292929;
    display: none;
}
